<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    
    <property name="logDirectory" value="${user.home}/logs/elearning"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="BUSINESSFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/biz.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/biz.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JOBFILE" class="ch.qos.logback.core.FileAppender">
        <file>${logDirectory}/job.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS}  %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.wujun" level="INFO" additivity="false">
        <appender-ref ref="BUSINESSFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="BUSINESS" level="INFO" additivity="false">
        <appender-ref ref="BUSINESSFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="DEBUG" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUGFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ERROR" level="ERROR" additivity="false">
        <appender-ref ref="ERRORFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="JOB" level="DEBUG" additivity="false">
        <appender-ref ref="JOBFILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPFILE" />
    </root>

</configuration>
